.ContactImage iframe {
  margin: 0 20px;
  width: 90%;
  height: 96%;
}

.mail i {
  margin: 15px;
  color: #4a569c;
  text-align: center;
  line-height: 18px;
}

.mail a {
  text-decoration: none;
  margin-top: 10px;
  color: #ffffff;
}

.btn {
  font-size: 14px;
  padding: 9px 22px;
  font-weight: 500;
  border-radius: 30px;
  border: none;
}

.contact {
  background-color: #4a569c;
  color: white;
}

.contact:hover {
  background-color: #4a569c;
  color: #fff;
}

.load {
  background-color: #4a569c;
  color: white;
  padding: 10px 40px;
}

.load:hover {
  background-color: #4a569c;
  color: white;
  padding: 10px 40px;
}

.number input {
  width: 100% !important;
}

.ReCaptchaDiv {
  display: flex;
  justify-content: center;
}

.compactRecaptcha {
  display: none;
}

@media only screen and (max-width: 600px) {
  .ContactImage img {
    margin-left: 18px;
  }
}

@media only screen and (max-width: 310px) {
  .compactRecaptcha {
    display: block;
  }

  .normalRecaptcha {
    display: none;
  }
}

