.breadcumbBannerCon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: max-content;
  margin: auto;
  z-index: 99;
}
.sliderCaption {
  text-align: center;
  color: white;
}
.videobanner{
  margin-bottom: -7px;
}
.videobanner video{
  width: 100%;
    height: 100vh;
    object-fit: cover;
    background: #000;
  opacity: 0.9;
}

.mainbannercon {
  padding: 0 22%;
  margin-top: 8%;
}
.mainbannercon h6 {
  text-transform: uppercase;
  line-height: 51px;
}
.mainbannercon h2 {
  margin-top: 0px;
  margin-bottom: 0px ;
}
.mainbannercon p {
  margin: 0.5rem 0;
}
.mainbannercon a {
  text-decoration: none;
  background: #4a569c;
  color: #fff;
}

.mainbannercon a:hover {
  background: #323b6e;
  color: #fff;
}

.cssbuttons {
  background: #a370f0;
  color: white;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons:active .icon {
  transform: scale(0.95);
}

.bannersliderbtns {
  position: relative;
  bottom: 0px;
  width: 100%;
  z-index: 99;
  margin-top: 40px;
}

.btnsliderimg img {
  width: 90%;
  height: 160px;
  border-radius: 20px;
  object-fit: cover;
}
.sliderbtncon h3 {
  color: rgb(255, 255, 255);
  margin-top: 20px;
}
.services {
  padding: 5rem 0;
  /* margin: -226px 0px; */
  position: relative;
  z-index: 999;
  /* border-top-right-radius: 240px;
  border-bottom-left-radius: 240px; */
  /* background: rgb(237, 238, 240); */
  padding: 62px 0px;
  background-color: white;
  color: #000;
}

.alignitemscenter {
  align-items: center !important;
}
.title h2 {
  padding: 0;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.servicesbox {
  text-align: center;
  padding: 20px 0px;
  transition: all 0.5s ease 0s;
  border-radius: 26px;
}
.servicesimg img {
  width: 85px;
  height: 85px;
}

.servicesbox:hover {
  background: linear-gradient(
      114.96deg,
      rgb(28, 40, 110) 22.91%,
      rgb(124, 217, 234) 81.64%
    ),
    linear-gradient(0deg, rgb(217, 217, 217), rgb(217, 217, 217));
}
.servicesbox:hover .servicesimg img {
  filter: brightness(100);
}

.serviceH4{
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin-top: 6px;
}
.servicesbox:hover .serviceH4 {
  color: rgb(255, 255, 255);
}


  .HomeContactImg img{
  width: 100%;
  object-fit:cover
  }
.main{
  overflow: hidden;
  height: 100%;
  min-height: 100vh;
  position: relative;
  isolation: isolate;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0
}
.video video{
  width: 100%;
  object-fit: cover;
  height: 96%;
  position: absolute;
  inset: 0;
  z-index: -1;
}

@media only screen and (max-width: 1025px)   and (max-height: 1400px) {
  .breadcumbBannerCon{
    top: -50%;
  }
  .videobanner video {
    height: 50vh;
  }
  .serviceCards_container {
    height: 150px;
  }

  .serviceCards_item {
    height: 100%;
    width: 100%;
  }

  .serviceCards_controls button {
    font-size: 16px;
    margin: 0 10px;
    padding: 0 6px;
  }
 
  .mainbannercon{
    /* margin-top: 150%; */
    padding: 0;
  }


.sliderbtncon h3 {
  color: rgb(255, 255, 255);
  margin: 20px;
}


}


@media only screen and (max-width: 1025px)   and (max-height: 810px) {
  .breadcumbBannerCon{
    top: -4%;
  }
  .videobanner video {
    height: 100vh;
  }

}

@media only screen and (max-width: 991px){
  .serviceH4{
    font-size: 14px;
    text-wrap:balance;
  }
}

@media only screen and (max-width: 767px) {
  .breadcumbBannerCon{
    top: 86%;
  }
  .videobanner video {
    height: 181vh;
  }

}
  @media only screen and (max-width: 700px) {
    .breadcumbBannerCon{
      top: 43%;
    }
    .videobanner video {
      height: 139vh;
    }

  }

  @media only screen and (max-width: 550px) {
    .breadcumbBannerCon{
      top: 65%;
    }
    .videobanner video {
      height: 164vh;
    }
  
  }
  @media only screen and (max-width: 435px) {
    .breadcumbBannerCon{
      top: 45%;
    }
    .videobanner video {
      height: 140vh;
    }
   
  }
  
  @media only screen and (max-width: 390px ) {
    
    .videobanner video {
      height: 184vh;
    }
  
.breadcumbBannerCon{
  top: 90%;
}

  }
  @media only screen and (max-width: 365px) {
    .breadcumbBannerCon{
      top: 68%;
    }
    .videobanner video {
      height: 160vh;
    }
  
  }

  @media only screen and (max-width: 325px) {
    .breadcumbBannerCon{
      top: 102%;
    }
    .videobanner video {
      height: 195vh;
    }
   
  }

