/* description */

.link{
    color:#fff;
    text-decoration: none;
}

.navigate{
    font-weight: 600;
}

.image{
    width: 100%;
}

.list{
    padding: 5px;
}
.image{
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}